.nav {
  grid-area: n;
  background-color: #c9c9c9;
  /*margin-top: 20px;*/
  padding: 20px;
}
.item {
  margin-bottom: 15px;
  color: black;
  border-bottom: 1px solid #000;
  margin-top: 20px;
}

.active {
  color: rgb(96, 145, 145);
}

.links {
  margin-top: 20px;
}
